*.pdf filter=lfs diff=lfs merge=lfs -text
*.yuv filter=lfs diff=lfs merge=lfs -text
*.ivf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mpeg2 filter=lfs diff=lfs merge=lfs -text
*.264 filter=lfs diff=lfs merge=lfs -text
*.265 filter=lfs diff=lfs merge=lfs -text
